.body-content{
    
    display: flex;
    flex-direction: row;
    margin-left: 150px;
    margin-right: 100px;
    margin-top: 100px;
}

.left-side {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.right-side{
    flex: 1;
    display: flex;
    flex-direction: column
}

.left-side img{
    border-radius: 100px;
    width:  24%;
    margin-bottom: 30px;
}

.left-side p{
    margin-top: 0;
    margin-left: 0;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}

.left-side a{
    /* border: 1px solid black; */
    margin-top: 10px;
    padding: 15px 15px 15px 15px;
    text-decoration: none;
    color: #ffffff;
    width: 240px;
    text-align: center;
    background-color: rgb(246, 26, 26);
    border-radius: 10px;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;

}


.left-side a:hover{
    background-color: rgb(155, 45, 45);
}

.appointment-status{
    display: flex;
    flex-direction: column;
    width: 390px;
    border: 1px solid black;
    padding: 50px 50px 50px 50px;
    /* background-color: rgb(225, 193, 255); */
    background-color: rgb(66, 6, 122);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.appointment-status label{
    font-size: 25px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* margin-bottom: 10px; */
    /* color: red; */
}

.appointment-status label span{
    color: #ff0000;
    font-style: italic;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}