.body-content{
    
    display: flex;
    flex-direction: row;
    margin-left: 150px;
    margin-right: 100px;
    margin-top: 100px;
}

.left-side {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.right-side{
    flex: 2;
    display: flex;
    flex-direction: column
}

.left-side img{
    border-radius: 100px;
    width:  24%;
    margin-bottom: 30px;
}

.left-side p{
    margin-top: 0;
    margin-left: 0;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}

.table{
    width:100%;
    max-width:100%;
    margin-bottom:1rem;
    background-color:transparent
}
.table td,.table th{
    padding:.75rem;
    vertical-align:top;
    border-top:1px solid #dee2e6
}
td{
    text-align: center;
}

.search{
    
    display: flex;
    justify-content: center;    
    margin-bottom: 20px;
}

/* .search button .search-img{
    width: 25px; 
    background-color: white;
    padding: 5px 5px 5px 5px;
    
}

.search form{
    position: relative;
}

.search button{
    position: absolute;
    border: none;
    background-color: white;
    
}

.search input{
    position: absolute;
    height: 70%;
    top: 0;
} */

